.allContainer {
	background-image: url('https://i.imgur.com/lB8nTKr.jpeg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: 66999;
	position: absolute;
	width: 100%;
	height: 100%;
}

.formContainer {
	/* border-style: groove; */
	width: 50%;
	height: 100%;
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	
}
.tittleCreator {
	color: rgba(252, 249, 249, 0.582);
}
/* .s.inputStyle {
	background: #ff6347;
} */
.linkToHome {
	text-align: left;
	float: left;
	padding-right: 25px;
	color: aliceblue;
	padding-left: 1%;
	
}
.stileTextarea {
	background: #ff6347;
	width: 390px;
	height: 50px;
}
.stileTextarea :focus {
	background: #fff;
}
.backgroundInputs{
	
	background: #ff6347;

}

.backgroundInputs:focus{
	
	background: #fff;
}